<div class="container">

<table class="table">
  <div class="row">
    <div class="col-md-12">
      <h1 align="center">Interview Prep</h1>
    </div>
  </div>
</table>

<div class="row">
  <div class="col-md-6">
    <table class="table">
      <div class="row">
        <div class="col-md-12">
          <h2>Technical Interview Questions</h2>
        </div>
          <div class="row">
            <div class="col-md-12">
              
                  {{#each tech_questions}}
                 
                  {{question}}
                 
                  {{/each}}
                
            </div>
          </div>
    </table>  
  </div>

  